* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}
h2 {
  padding: 30px;
}
.tacoImg {
  padding: 10px;
}
.tacoImg:hover {
  cursor: pointer;
}
.beastText {
  padding: 10px;
}
